<launch>
	<!-- Arguments -->
	<arg name="robot_name" default="gripper_unal"/>
	<arg name="robot_xacro" default="$(find unal_gripper)/urdf/gripper.urdf.xacro"/>

	<!-- robot to world -->
	<node name="worldbase" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world $(arg robot_name)/gripper_body 100"/>

	<group ns="$(arg robot_name)">
		<!-- Robot description -->
		<param name="robot_description" command="$(find xacro)/xacro '$(arg robot_xacro)' robot_namespace:=$(arg robot_name)"/>

		<!-- Robot state publisher -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

		<!-- Start joint and robot state publisher-->
		<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	</group>

	<!-- Start rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find udg_ros_intro)/config/cfg.rviz"/>

</launch>